:root {
    --background: #fff;
    --wall-first: #f5c95f;
    --wall-second: #f3b65e;
    --wall-third: #f2aa59;
    --bus-end: #fecc62;
    --bus-front: #fecc62;
    --roof: #fbef9e;
    --roof-shade: #e4cc74;
    --borders: #29292f;
    --lights: #f8722e;
    --lights-border: #c15b29;
    --doors: #f5c45e;

    --gradient: #a1b5bc;
    --gradient-dark: #8198a0;
    --gradient-darker: #658087;

    --window-top-shade: #5d7280;
    --window-gradient: linear-gradient(
        10deg,
        var(--gradient-darker),
        var(--gradient-darker) 16%,
        var(--gradient-dark) 16%,
        var(--gradient-dark) 25%,
        var(--gradient) 25%,
        var(--gradient) 40%,
        var(--gradient-dark) 40%,
        var(--gradient-dark) 70%,
        var(--gradient) 70%,
        var(--gradient)
    );
}

body {
    background-color: var(--background);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.bus {
    width: 710px;
}

.bus__roof {
    position: relative;
    height: 16px;
    background-color: var(--wall-first);
}

.bus__roof-inner {
    box-sizing: content-box;
    height: 100%;
    background-color: var(--roof);
    border-radius: 0 0 12px 0 / 30%;
    border-bottom: 3px solid var(--borders);
    border-right: 3px solid var(--borders);
}

.bus__roof-shade {
    position: absolute;
    inset: 0;
    margin: auto auto;

    height: 8px;
    width: 98%;
    padding: 0 16px;
    border-top: 3px solid var(--roof-shade);
    border-bottom: 3px solid var(--roof-shade);
}

.bus__body {
    display: flex;

    border-radius: 1rem 1rem 1rem 1rem / 40% 10% 10% 10%;
    overflow: clip;
}

.bus__end {
    width: 20px;
    background-color: var(--bus-end);
}
.bus__front {
    position: relative;
    width: 15px;
    background-color: var(--bus-front);
}

.bus__front-window {
    position: absolute;
    top: 20px;

    width: 100%;
    height: 100px;
    background: var(--window-gradient);

    border: 3px solid var(--borders);
    border-right: none;
    border-radius: 2rem 0 0 1rem / 40% 50%;
}

.bus__front-light {
    position: absolute;
    top: 140px;

    width: 8px;
    height: 10px;

    transform: rotate(20deg);

    background-color: var(--lights);
    border-bottom: 2px solid var(--lights-border);
    border-radius: 2px 2px 1px 1px;
}

.bus__walls {
    flex-grow: 1;
}

.bus__wall--first {
    height: 70px;
    background-color: var(--wall-first);
}

.bus__wall--second {
    height: 40px;
    background-color: var(--wall-second);
}

.bus__wall--third {
    height: 60px;
    background-color: var(--wall-third);
}

.bus__windows {
    display: flex;
    padding-top: 4px;
    padding-left: 4px;
    height: 100%;
    gap: 4px;
}

.window {
    border: 2px solid var(--borders);
    border-radius: 8px;
    width: 86px;
    background: var(--window-gradient);
}

.window--end {
    width: 40px;
}

.door-gap {
    width: 72px;
}

.door__panel {
    position: relative;
    width: 100%;
    margin: 4px 3px;

    background: var(--window-gradient);
    border-top: 1px solid var(--window-top-shade);
}

.bus__doors {
    position: relative;
}

.bus__door-spacer {
    border-right: 3px solid var(--borders);
}

.bus__door {
    position: absolute;
    top: 8px;

    display: flex;
    height: 160px;
    width: 72px;

    background-color: var(--doors);
    border: 3px solid var(--borders)
}

.door__panel-handle {
    position: absolute;
    top: 57%;
    height: 7px;
    width: 100%;
    background-color: var(--doors);
    border-top: 1px solid var(--window-top-shade);
    border-bottom: 1px solid var(--window-top-shade);
}

.bus__door--first {
    left: 48px;
}

.bus__door--second {
    right: 299px;
}

.bus__door--third {
    right: 43px;
}

.side__lights {
    position: relative;
}

.side__light {
    position: absolute;
    top: 24px;

    width: 6px;
    height: 6px;

    background-color: var(--lights);
    border-radius: 40px;
}

.side__light--first {
    left: 128px;
}
.side__light--second {
    left: 290px;
}
.side__light--third {
    left: 546px;
}